body {
    overflow: auto;
}



button {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background-color: black;
  padding: 5px 5px 5px 5px;
  border: solid #edeff0 2px;
  text-decoration: none;
}

button:hover {
  background-color: royalblue;
  text-decoration: none;
}

.viewcomics section[role=main] {
    margin-left: 24px;
    margin-right: 24px;
    overflow: auto;
}

.fragment section[role=main] {
	width: calc(100% - 48px);
    overflow: auto;
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
    overflow: auto;
}